[package]
name = "disky"
version = "0.1.0"
edition = "2021"
description = "A Rust implementation of the Riegeli file format"
authors = ["Your Name <your.email@example.com>"]
license = "Apache-2.0"

[dependencies]
byteorder = "1.5.0"
crc = "3.0.1"
thiserror = "1.0.60"
bytes = "1.6.0"
highway = "1.1.0"
prost = "0.12.4"
log = "0.4.20"
env_logger = "0.10.1"
